<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }}{# &mdash; {{ site.subtitle }}#}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.subtitle }}">
    {% block head_meta %}
    <meta name="robots" content="noindex, follow">
    {% endblock %}
    <!--<link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <link href="{{ site.url }}/css/style-orange.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" sizes="16x16" href="{{ site.url }}/images/favicon-16.png">
    <link rel="shortcut icon" sizes="32x32" href="{{ site.url }}/images/favicon-32.png">
    <link rel="shortcut icon" sizes="64x64" href="{{ site.url }}/images/favicon-64.png">

    <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body>

<div id="page">
    <header id="header">
        <h1 class="title"><a class="hover-underline" href="/">{{ site.title }}</a></h1>
        {% if site.subtitle %}<h3 class="subtitle">{{ site.subtitle }}</h3>{% endif %}
        <nav class="navigation" role="navigation">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/bicycles">Bicycles</a></li>
                    <li><a href="/motorcycles">Motorcycles</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="hero"></div>

    <div id="content">
        <div id="primary">
            <div id="main">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="footer-wrapper">
            <div class="copy">
                &copy; {{ "now"|date("Y") }} {{ site.author }}
            </div>
            <div class="license">
                <!--
                <div class="license-icons">
                    <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i>
                </div>-->
                The content of this site is licensed under a
                <a href="https://creativecommons.org/licenses/by/4.0/">
                    <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i>
                    Creative Commons Attribution 4.0 International License</a>.
            </div>
            <div class="design">
                Design heavily inspired in <a class="hover-underline" href="https://foxland.fi/demo/sanse">Sanse</a> by <a class="hover-underline" href="https://foxland.fi/" target="_blank">Sami Keijonen</a>.
            </div>
        </div>
    </footer>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
<script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}

{% if site.google_analytics_tracking_id %}

<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
<script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% block scripts_after %}
{% endblock %}
</body>
</html>
