---
layout: simple-page
title: 2017 Specialized Enduro Comp
---
<div class="text-center">
    <span class="badge">For sale!</span>
    <br>
</div>

{#
<div class="slider">
    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp-stock.jpg">
</div>

<p class="footnote">
<strong>Base model:</strong> 2017 Specialized Enduro Comp 29/6Fattie.
Part No. 93617-5202 at the
<a href="https://www.specialized.com/us/en/enduro-comp-29-6fattie/p/118408?color=214943-118408" target="_blank">Specialized Bike Archive</a>.
</p>
#}

<div class="slider">
    <div class="splide">
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide">
                    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp/IMG_0905_lowres.jpg">
                </div>
                <div class="splide__slide">
                    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp/IMG_0903_lowres.jpg">
                </div>
                <div class="splide__slide">
                    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp/IMG_0915_lowres.jpg">
                </div>
                <div class="splide__slide">
                    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp/IMG_0910_lowres.jpg">
                </div>
                <div class="splide__slide">
                    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp/stock.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Base Model</h2>
<p>
    <span class="large">
        2017 Specialized Enduro Comp 29/6Fattie
    </span>
    <br>
    <span class="small">
        Part No. 93617-5202 at the
        <a href="https://www.specialized.com/us/en/enduro-comp-29-6fattie/p/118408?color=214943-118408" target="_blank">Specialized Bike Archive</a>.
    </span>
</p>


<h2>Frameset</h2>
<table class="component-table">
    <tr>
        <th>Material</th>
        <td>Alloy M5 (Aluminum)</td>
    </tr>
    <tr>
        <th>Wheel Size</th>
        <td>29" or 27.5+</td>
    </tr>
    <tr>
        <th>Size</th>
        <td>Large</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>Satin Black / Charcoal</td>
    </tr>
    {#
    <tr>
        <th>Headset</th>
        <td>--</td>
    </tr>
    #}
    <tr>
        <th>Bottom Bracket</th>
        <td>Threaded bottom bracket</td>
    </tr>
    <tr>
        <th>Rear Axle</th>
        <td>12x148mm thru-axle (boost)</td>
    </tr>
    <tr>
        <th>Seat Tube</th>
        <td>34.9 mm (38.6 mm collar clamp)</td>
    </tr>
</table>

<h2>Suspension</h2>

<table class="component-table">
    <tr>
        <th>Fork</th>
        <td>RockShox Yari 29/27.5+, Solo Air, rebound & compression adjust, 15x110mm Maxle Ultimate thru-axle (boost), 160mm travel</td>
    </tr>
    <tr>
        <th>Shock</th>
        <td>RockShox Monarch Plus, <s>Rx All-Mountain Tune, AUTOSAG,</s> rebound and 3-position compression adjust, 216x57mm.
            <br><i class="fa fa-angle-double-up text-primary"></i> DebonAir Sleeve upgrade (216x63mm kit).</td>
    </tr>
</table>

<h2>Drivetrain</h2>
<table class="component-table">
    <tr>
        <th>Rear Derailleur</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano XT RD-M8000-GS, 11-speed, medium cage</td>
    </tr>
    <tr>
        <th>Shift Levers</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano XT SL-M8000, 11-speed</td>
    </tr>
    <tr>
        <th>Cassette</th>
        <td>SRAM XG-1150, 11-speed, 10-42t</td>
    </tr>
    <tr>
        <th>Chain</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano Ultegra/XT CN-HG701 11-speed, with Quick Link</td>
    </tr>
    <tr>
        <th>Crankset</th>
        <td>RaceFace Aeffect, 6000-series alloy, 24mm spindle, 52mm chainline, 28T narrow-wide</td>
    </tr>
</table>

<h2>Brakes</h2>
<table class="component-table">
    <tr>
        <th>Front</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano Zee BR-M640, 4 piston caliper</td>
    </tr>
    <tr>
        <th>Rear</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano Zee BR-M640, 4 piston caliper</td>
    </tr>
</table>

<h2>Cockpit</h2>
<table class="component-table">
    <tr>
        <th>Stem</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> RaceFace Respond, 31.8mm, 10ºx45mm, aluminum, black</td>
    </tr>
    <tr>
        <th>Handlebars</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> RaceFace Respond, 31.8mm, &half;in rise, 760mm, aluminum, black</td>
    </tr>
    <tr>
        <th>Grips</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> ODI Rogue, black</td>
    </tr>
    <tr>
        <th>Saddle</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Specialized Phenom Comp, Body Geometry, 143mm, hollow Cr·Mo rails</td>
    </tr>
    <tr>
        <th>Seatpost</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Fox Transfer Performance Elite Dropper, 125mm, 31.6mm, internal routing</td>
    </tr>
    <tr>
        <th>Pedals</th>
        <td>N/A (Specialized Resin Test Ride)</td>
    </tr>
    <tr>
        <th>Other</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> MuckyNutz short front mud fender</td>
    </tr>
</table>

<h2>29" Wheelset</h2>
<table class="component-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Rims</th>
        <td>Roval Traverse 29, hookless alloy, 29mm inner width, 24/28h, tubeless ready</td>
        <td>Roval Traverse 29, hookless alloy, 29mm inner width, 24/28h, tubeless ready</td>
    </tr>
    <tr>
        <th>Hub</th>
        <td>Specialized disc, alloy, sealed cartridge bearings,15x110mm thru-axle, 24h, 6-bolt disc mount</td>
        <td>Specialized disc, alloy, sealed cartridge bearings, 12x148mm thru-axle, 28h, 6-bolt disc mount</td>
    </tr>
    <tr>
        <th>Spokes</th>
        <td>DT Swiss Industry, stainless, 3x, 2.0""</td>
        <td>DT Swiss Industry, stainless, 3x, 2.0""</td>
    </tr>
    <tr>
        <th>Tire</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Specialized Butcher, 29x2.30, 60TPI, GRID casing, folding bead, 2Bliss Ready</td>
        <td><i class="fa fa-angle-double-up text-primary"></i> Schwalbe Nobby Nic, 29x2.25, Evolution, Liteskin, PaceStar, Tubeless Ready</td>
    </tr>
    <tr>
        <th>Rotor</th>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano SM-RT86 Ice-Tec 203mm</td>
        <td><i class="fa fa-angle-double-up text-primary"></i> Shimano SM-RT86 Ice-Tec 180mm</td>
    </tr>
    <tr>
        <th>Cassette</th>
        <td>&nbsp;</td>
        <td>SRAM XG-1150, 11-speed, 10-42t</td>
    </tr>
    </tbody>
</table>

<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Pressure</th>
        <td>22 PSI, Tubeless</td>
        <td>25 PSI, Tubeless</td>
    </tr>
    </tbody>
</table>


<h2>Suspension Setup</h2>
<!-- last update 15feb2018, not yet trail tested -->
<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Fork</th>
        <th>Shock</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Travel</th>
        <td>160 mm</td> <!-- fork -->
        <td>160 mm</td> <!-- shock --> <!-- TODO: Add a Tooltip note, saying that some reviews say 165mm instead of 160mm -->
    </tr>
    <tr>
        <th>Air Spring</th>
        <td>40 PSI</td> <!-- fork -->
        <td>195 PSI</td> <!-- shock -->
    </tr>
    <tr>
        <th>Sag</th>
        <td>27%</td> <!-- fork -->
        <td>30%</td> <!-- shock -->
    </tr>
    <tr>
        <th>Tokens</th>
        <td>3 tokens</td> <!-- fork -->
        <td>2 bands</td> <!-- shock -->
    </tr>
    <tr>
        <th>Rebound (fast->slow)</th>
        <td>13 clicks</td> <!-- fork -->
        <td>7 clicks</td> <!-- shock -->
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">Last Tune: March 2nd, 2019</td>
    </tr>
    </tfoot>
</table>

<h2>Notes</h2>
<p class="small"><i class="fa fa-angle-double-up text-primary"></i> denotes upgrades</p>