---
layout: default
title: Home
generator: pagination
pagination:
max_per_page: 2
use:
- posts
---
{% for post in page.pagination.items %}
    <article class="clearfix">
        <header>
            <h2 class="title"><a class="hover-underline" href="{{ site.url }}{{ post.url }}">{{ post.title }}</h2>
            <h5 class="datetime"><a class="hover-underline" href="{{ site.url }}{{ post.url }}">Posted on {{ post.date|date("l") }} {{ post.date|date("F") }} {{ post.date|date("jS") }}, {{ post.date|date("Y") }}</a></h5>
        </header>
        <div class="spacer"></div>
        <div class="post-content">
            {{ post.blocks.content|raw }}
        </div>

        {#
        {% if post.categories %}
        <div class="tag-list">
            <span class="icon"><i class="fa fa-folder-open"></i></span>
            {% for category in post.categories %}
            <a class="tag" href="{{ site.url }}/blog/tags/{{ category|url_encode(true) }}">{{ category }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if post.tags %}
        <div class="tag-list">
            <span class="icon"><i class="fa fa-tag"></i></span>
            {% for tag in post.tags %}
            <a class="tag" href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        #}
    </article>

    {% if not loop.last %}
        <hr>
        <br>
    {% endif %}
{% endfor %}

{# this section is inversed.. oh well, i'll fix it later #}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <div class="spacer"></div>
    <nav class="article">
        {% if page.pagination.previous_page %}
            <div class="previous">
                <div class="direction">
                    <a class="hover-underline" href="{{ site.url }}{{ page.pagination.previous_page.url }}">
                        <i class="fa fa-arrow-circle-left"></i> Newer Posts
                    </a>
                </div>
            </div>
        {% endif %}
        {% if page.pagination.next_page %}
            <div class="next">
                <div class="direction">
                    <a class="hover-underline" href="{{ site.url }}{{ page.pagination.next_page.url }}">
                        Older Posts <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </nav>

{% endif %}
